@import 'variables.css';
body {
/*  font-size: var(--main-font-size);*/
  background: var(--main-bg-color);
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

/*  BODY   */

#main {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.main-row {
  width: 80%;
  max-width: 1092px;
  min-width: 480px;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#myTable td:nth-child(1) {
  font-weight: bolder;
}

td {
  border-left: 1px solid white;
}

table {
  padding: 20px;
  margin: auto;
  text-align: center;
  background: white;
  border-spacing: 1px;
}

td, th {
  padding: 3px 8px;
}

.no-cell {
  background: rgba(255, 204, 202, 1);
  content: url(../img/x.svg);
}

.yes-cell {
  background: rgba(209, 243, 209, 1);
  content: url(../img/check.svg);
}

.yes-cell, .no-cell {
  width: 25px;
  height: 25px;
  float: left;
  color: #6A9F19;
}

.form-item {
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: none;
  padding: 8px;
  color: #000;
  font-size: 16px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.container-center {
  margin-top: 5px;
  text-align: center;
}

.submit {
  padding: 7.5px 16px 7.5px 16px;
  line-height: normal;
  height: auto;
  border: 1px solid rgb(218, 220, 224);
  color: #fff;
  background: #1a73e8;
  font-size: 15px;
}

.submit:hover {
  cursor: pointer;
}

#start-button {
  text-transform: uppercase;
  font-size: 20px;
  padding: 6px 30px;
}

button:disabled {
  opacity: .5;
}

.bigger-cell {
  width: 35px;
  background: greenyellow;
}

#temp-shifts, #result-shifts, #stats {
  margin-top: 20px;
  min-width: 330px;
}

#temp-container, #result-container {
  display: none;
}

#result-container {
  margin: auto;
}

#result-shifts {
  float: left;
  margin-right: 5px;
}

#stats {
  margin-left: 5px;
  float: right;
}

#temp-shifts td:nth-child(1):hover{
  cursor: pointer;
}

.form-container {
  margin: auto;
}

.table-container {
  min-width: 1108px;
  margin: auto;
}

.table-container, #next-shift {
  margin-top: 5px;
}

.chosen {
  color: #6A9F19;
  background: rgba(209, 243, 209, 1);
}

select {
  padding-top: 6px!important;
  padding-bottom: 7px!important;
}
/* MEDIA QUERIES */

@media (max-width: 520px) {
  .main-row {
    width: 96%;
    height: auto;
    min-width: 1px;
  }
}
